
.banner {
  padding: .8rem 0;

  text-align: center;

  img {
    width: 30rem;
    height: auto;
  }

  @media screen and (min-width: $screen-lg-min) {
    padding: 1.2rem;

    img {
      width: auto;
      height: 8.8rem;
    }
  }
}
