//
// 4Rodas Variables
// --------------------------------------------------

$banner-height: 5.6rem;

$gray-darker:            #242424;

$brand-primary:         #ed1c24;
$brand-secondary:       #d41f1f;


//== Media queries breakpoints
/*$screen-xs-min:              480px;*/
$screen-sm-min:              768px;
$screen-md-min:              992px;
$screen-lg-min:              1200px;


//== Components
$padding-base-horizontal:   .8rem;
$padding-base-vertical:     .6rem;
$padding-large-vertical:    1.2rem;

